#navigationBanner {
  text-align:center;
  margin:0 auto;
  background-color:white;
  opacity:.6;
}

#MainMenuHeading {
  color:rgb(73,88,60);
  font-family:'Arbutus';
  font-size:30px;
}

#mainMenuSubHeading {
  font-size:20px;
}

#Options {
  color:rgb(73,88,60);
  font-family:'Arbutus';
  font-size:20px;
  list-style:none;
  text-align:center;
  outline:none;
  padding:.5em;
}
#Options a{
  color:rgb(73,88,60);
  font-family:'Arbutus';
  font-size:20px;
  list-style:none;
  text-align:center;
  outline:none;
  
}

#optionListContainer {
}

#menuContainer {
}

#Options ul {
  width:20%;
  text-align:center;
}

#userChoice {
  outline:none;
  border:none;
  border-bottom:4px solid rgb(73,88,60);
  width:10%;
}

#OptionSelectorLabel {
  color:rgb(73,88,60);
  font-size:15px;
  font-family:'Arbutus';
  text-align:center;
}

#userInputFooter {
  text-align:center;
  font-size:20px;
  color:rgb(73,88,60;
  border-bottom:3px solid rgb(73,88,60);
  border-top:2px dashed rgb(73,88,60);
  background-color:transparent;
}

html {
  background-image:url("../../assets/img/oregonTrail.jpg");
  background-repeat:no-repeat;
}

