html {
  background-image:url("../images/oregonTrail.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
body {
  background-color:transparent;
}
#titleBanner {
  text-align:center;
  background-color:rgb(73,88,60);
}
#titleBanner h1 {
  color:white;
  padding:.5em .5em;
}
h1 {
	font-family:Arbutus, cursive;
	font-size:50px;
}