<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj1</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/MainMenu.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div class="container-fluid" id="titleBanner">
        <h1 style="font-family:Arbutus, cursive;font-size:50px;">The Oregon Trail</h1>
        <hr id="style-seven">
    </div>
    <div id="navigationBanner">
        <div class="container" id="menuContainer">
            <div class="row">
                <div class="col-md-12" id="MainMenuHeading">
                    <h1>What Is Your Choice?</h1>
                    <h1 id="mainMenuSubHeading">For Main Menu, <em>Press the Spacebar.</em></h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="optionListContainer">
                    <ul id="Options">
                            <!--****** 10/23/2017 Change Log **********
                              * Provided an id to each of the li elements
                              * need to remove this  options section and paste it into a javascript file
                             ***************************************-->
                        <li id="bankerMenuItem">Be A Banker From Boston</li>
                        <li id="carpenterMenuItem">Be A Carpenter From Ohio</li>
                        <li id="famerMenuItem">Be A Farmer From Illinois</li>
                        <li id="differencesMenuItem">Find Out The differences Between The Choices</li>
                    </ul>
                </div>
                <div class="col-md-12" id="userInputFooter">
                    <label id="OptionSelectorLabel">Indicate Your Desired Choice's Line Number: </label>
                    <input type="number" id="userChoice">
					<button type="button" id="submit" onclick="gameOptions();">Onwards!</button>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/game.js"></script>
</body>

</html>