<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj1</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/MainMenu.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="stylesheets/topten.css">
</head>

<body>
    <div class="container-fluid" id="titleBanner">
        <h1 style="font-family:Arbutus, cursive;font-size:50px;">The Oregon Trail</h1>
        <hr id="style-seven">
    </div>
    <div id="navigationBanner">
        <div class="container" id="menuContainer">
            <div class="row">
                <div class="col-md-12" id="MainMenuHeading">
                    <h1>Top 10 Players</h1>
                    <h1 id="mainMenuSubHeading">For Main Menu, <em>Press the Spacebar.</em></h1>
                    
                </div>
            </div>
      
    </div>
    <div></div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/topten.js"></script>
</body>

</html>