<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oregon Trail</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
	
</head>

<body onkeyup="spacebar(e);" onload="myFunction();toggleSound();">
    <div class="container-fluid" id="titleBanner">
        <h1>The Oregon Trail</h1>
        <hr id="style-seven">
    </div>
    <div class="container" id="GameEntrance"><a id="EntranceLink"></a>

    </div>
    <script src="javascriptsjquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/index.js"></script>
</body>

</html>