<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj1</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/MainMenu.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body onload="mmOptions();">
	<div class="container-fluid" id="titleBanner">
        <h1 style="font-family:Arbutus, cursive;font-size:50px;">The Oregon Trail</h1>
        <hr id="style-seven">
    </div>
    <div id="navigationBanner">
        <div class="container" id="menuContainer">
            <div class="row">
                <div class="col-md-12" id="MainMenuHeading">
                    <h1>Main Menu</h1>
                    <h1 id="mainMenuSubHeading">You May:</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="optionListContainer">
                    <ul id="Options">
						<li><a id="tt"></a></li>
						<li><a id="lt"></a></li>
						<li><a id="ot"></a></li>
						<li><a id="sound" onclick="toggleSound();"></a></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-12" id="userInputFooter">
							<!--<form action="#" method="post" onsubmit="MMTeleport();">-->
                            <label id="OptionSelectorLabel">Indicate Your Desired Choice's Line Number: </label>
                            <input type="number" id="userChoice">
							<button type="button" id="submit" onclick="MMTeleport();">Onwards!</button>
							<!--</form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/mainmenu.js"></script
</body>

</html>